*{
    margin: 0;
    padding: 0;
}
.register{
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(netflix-image.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.register>img{
    height: 100px;
    width:20% ;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(18, 18, 18, 0.008);
    backdrop-filter:blur(20px);
    border-radius: 5px;
    margin-top: 25px;
    top: 150px;
    left: 32.5rem;
    position: absolute;
    border-radius: 15px;
 
}
input{
    margin: 5px 0px;
    height: 30px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(185, 175, 175);
    color:whitesmoke;
    
}
.redbutton{
    background-color: #e50914;
    padding: 7px 80px;
    text-decoration: none;
    color: white;
    float: right;
    margin: 10px 30px;
    border-radius: 5px;
    height: 30px;
}
.redbutton a{
    text-align: center;
    margin: 20px;
}
.checkbox label{
    color: rgb(57, 55, 55);
    position: relative;
    margin-top: 10px;
}
